/* ADAPTIVE
=============================*/
@media (max-width: 1350px) {

    /* Container */
    .container {
        max-width: 1000px;

        margin: 7% auto; /* Изменения */
    }
}

@media (max-width: 1190px) {

    /* Container */
    .container {
        max-width: 850px;
    }
}

@media (max-width: 1000px) {

    /* Container */
    .container {
        width: 100%;
        max-width: 1000px;

        margin: 7% auto; /* Изменения */
        border-radius: 0;
    }
}

/* New Version */
/*Для планшетов*/
@media (max-width: 1000px) and (min-width: 701px) {

    html, body {
        height: 100%;
    }

    .container {
        display: table;
        height: 100%;

        position: relative;
        min-height: 100%;
    }

    .intro {
        padding-top: 25px;
    }

    .main {
        display: table-row;
        height: 100%;
    }

    .footer {
        border-top: 1px solid #000;
    }
}

@media (max-width: 700px) {

    /* Spoiler*/
    .select.is-active .select__body {
        display: block;
    }

    .select.is-active .select__vertical {
        display: none;
    }

    .select.is-active .spoiler {
        display: flex;
        justify-content: space-between;

        width: 100%;

        cursor: pointer;
        border: 1px solid #000;
        border-radius: 2px;
        box-shadow: 2px 0 0 #000;
        padding: 4px 6px;

        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }

    .select.is-active .spoiler.spoiler-is-active {
        box-shadow: 2px 2px 1px #000;
    }

    .select.is-active .spoiler__icon {
        justify-content: center;
        text-align: center;
        flex-shrink: 0;

        margin: 4px 0 0 0;

        border-style: solid;
        border-width: 10px 7.5px 0 7.5px;
        border-color: #65A183 transparent transparent transparent;

        transform: rotate(0deg);
        transition: transform 0.2s linear;
    }

    .spoiler.spoiler-is-active .spoiler__icon {
        transform: rotate(90deg);
        transition: transform 0.2s linear;
        margin-top: 0;
    }

    .spoiler.spoiler-is-active + .select__vertical {
        display: block;

        width: 100%;
        padding: 6px 0 6px 10px;
    }

    .select__checkbox {
        display: inline-flex;
        justify-content: space-between;

        width: 72px;
    }

    /* Container */
    .container {
        margin: 0;
    }

    /* Information */
    .information_photo {
        width: 90px;
        height: auto;
    }

    .information__text {
        margin: 15px 0;
    }

    /* Feedback */
    .feedback__textarea {
        min-height: 150px;
    }

    /* Decoding */
    .table_additivies__table {
        max-width: 500px; /* надо ли? */
    }
}

@media (max-width: 600px) {

    /* Intro */
    .intro__title {
        font-size: 18px;
    }

    .intro__subtitle {
        font-size: 12px;
    }

    /* Button */
    .form__button {
        font-size: 12px;
        width: 85px;

        padding: 6px;
    }

    /* Logo */
    .header__logo {
        height: 50px;
    }

    /* Navigation */
    .nav {
        font-size: 14px;
    }

    /* Information */
    .information__text {
        font-size: 12px;
    }

    /* Feedback */
    .feedback__title {
        font-size: 18px;
    }

    .feedback__subtitle {
        font-size: 12px;
    }

    .feedback__textarea {
        min-height: 100px;
    }

    /* Select */
    .spoiler.spoiler-is-active + .select__vertical {
        display: block;

        width: 100%;
        padding: 6px 0 6px 6px;
    }
}

@media (max-width: 450px) {

    /* Logo */
    .header__logo {
        height: 45px;
    }

    /* Navigation */
    .nav {
        font-size: 12px;
    }

    /* Header */
    .intro__subtitle {
        padding: 0 20px;
    }

    /* Information */
    .information {
        padding: 15px 0;
    }

    p {
        font-size: 11px;
    }

    /* Footer */
    .footer__text {
        font-size: 8px;
    }
}