<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decoding E-additives</title>

    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/button/main_button.css">
    <link rel="stylesheet" href="/resources/css/table.css">
    <link rel="stylesheet" href="/resources/css/adaptive.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&family=Oswald:wght@400;500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="76x76" href="/resources/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/resources/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="container">

        <!-- Header -->
        <div th:insert="fragments/header"></div>

        <!-- Main -->
        <main class="main">
            <form action="/pdf" method="post">
                <div class="table_additivies">
                    <h1 class="table_additivies__title">Таблица добавок</h1>
                    <table class="table_additivies__table">
                        <tr>
                            <th>Индекс</th>
                            <th>Наименование</th>
                            <th>Описание</th>
                            <th>Бла</th>
                        </tr>
                        <tr th:each="eadditives : ${selectedAdditives}">
                            <td>
                                <input type="hidden" name="index" th:value="${eadditives.index}"
                                       th:text="${eadditives.index}"/>
                            </td>
                            <td th:text="${eadditives.type}">1</td>
                            <td th:text="${eadditives.name}">1</td>
                            <td th:text="${eadditives.information}">1</td>
                        </tr>
                    </table>
                    <button class="form__button" type="submit" value="Скачать">Скачать</button>
                </div>
            </form>
        </main>

        <!-- Footer -->
        <div th:insert="fragments/footer"></div>
    </div>

</body>
</html>
